asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
enum34==1.1.6
Fabric==1.13.2
idna==2.5
influxdb==4.1.1
ipaddress==1.0.18
paramiko==2.1.2
pkginfo==1.4.1
psutil==5.2.2
pyasn1==0.2.3
pycparser==2.17
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
requests-toolbelt==0.8.0
six==1.10.0
tqdm==4.14.0
twine==1.9.1
urllib3==1.21.1
